body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: red;
}
.botao{
    width: 5rem;
    height: 2rem;
    background: transparent;
}
button:hover{
    align-content: center;
    background-color: green;
}
